c1b1b62fc/cache/*
!c1b1b62fc/cache/index.html
!c1b1b62fc/cache/.htaccess

c1b1b62fc/logs/*
!c1b1b62fc/logs/index.html
!c1b1b62fc/logs/.htaccess

composer.lock

vendor

contributing.md
.editorconfig
google*.html
license.txt
readme.rst
sitemap.xml
.well-known
c1b1b62fc/config/secrets.php
assets/images/uploads
assets/css/bootstrap
assets/js/bootstrap
assets/videos/*
